@use '../../styles/variables' as vars;

.product-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: vars.$dark-brown;
  }
}

.product-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px 0;
  margin: 20px auto 50px;

  // &__card {
  //   border-radius: 10px;
  //   background-color: vars.$light-brown;
  //   width: 300px;
  //   margin: 10px;

  //   img {
  //     border-radius: 10px 10px 0 0;
  //     width: 100%;
  //     height: 300px;
  //     object-fit: cover;
  //   }

  //   p, h2 {
  //     color: vars.$dark-brown;
  //     padding: 8px;
  //     margin: 0;
  //   }
  // }
}

// Media Queries
@media screen and (min-width: 768px) {
  #hamburger-icon {
    display: none;
  }

  .nav--desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header {
    &__home-btn,
    &__contact-btn {
      @include vars.btn;
      margin: 0 5px;
    }
  }

}

@media screen and (min-width: 1024px) {
  .product-sec {
    justify-content: flex-start;
    max-width: 1600px;
  }
}