body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}