@use '../../styles/variables' as vars;

.product-card {
  border-radius: 10px;
  background-color: vars.$light-brown;
  width: 300px;
  margin: 10px;

  img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  p, h2 {
    color: vars.$dark-brown;
    padding: 8px;
    margin: 0;
  }
}