@use '../../styles/variables' as vars;

.main-body {
  &__hero {
    position: relative;
    width: 100%;
    height: 400px;

    &--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .splide__arrow--next,
    .splide__arrow--prev {
      background-color: white;
      // background-color: rgba(vars.$primary-color, 0.8);
    }
    .splide__arrow svg {
      fill: vars.$dark-brown;
    }
    .splide__pagination__page {
      background: vars.$primary-color;
      // background: rgba(vars.$primary-color, 0.8);
    }
    .splide__pagination__page.is-active {
      background: vars.$light-brown;
      // background: vars.$primary-color;
    }

    &--txt {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: vars.$dark-brown;
      
      h1 {
        border-radius: 5px;
        background-color: rgba(vars.$primary-color, 0.8);
        font-size: 2rem;
        font-weight: bold;
        padding: 20px;
      }
    }
  }
}

.main-description {
  &__greeting,
  &__about {
    padding: 20px;
    color: vars.$dark-brown;
    text-align: center;
  }

  &__greeting {
    font-size: 1.5rem;
  }

  &__about {
    background-color: vars.$secondary-color;
    color: vars.$light-brown;
  }
}

.main-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100px;

  &__btn {
    @include vars.btn;
  }
}

// Media Queries
@media screen and (min-width: 768px) {
  .main-description {
    &__greeting {
      font-size: 2rem;
    }
    &__about {
      font-size: 1.25rem;
    }
  }

  .main-links {
    max-width: 50vw;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .main-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__greeting {
      max-width: 60vw;
    }

    &__about {
      border-radius: 10px;
      max-width: 60vw;
      margin: 0 auto;
    }
  }
  
  .main-links {
    max-width: 30vw;
    margin: 0 auto;
  }
}
