@use '../../styles/variables' as vars;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: vars.$light-brown;
  width: 100%;

  &__trademark,
  &__disclosure  {
    text-align: center;
    margin: 3px;
    color: vars.$dark-brown;
  }

  &__socials {
    margin: 20px 0;
  }

  &__disclosure {
    margin-bottom: 20px;
  }
}