@use '../../styles/variables' as vars;

.header {
  background-color: vars.$primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;

  &__title {
    text-decoration: none;
    color: vars.$dark-brown;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
  }

  #hamburger-icon {
    cursor: pointer;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.nav {
  &--desktop {
    display: none;
  }

  &--mobile {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    // right: 0;
    background-color: vars.$secondary-color;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.5s;
  }
}

.header-nav {
  &__contact-btn ,
  &__product-btn,
  #close-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.75rem;
    color: vars.$light-brown;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    cursor: pointer;
  }
  
  #close-btn {
    margin: 20px 0;
  }
}

.nav-open {
  width: 250px;
}

// Media Queries
@media screen and (min-width: 768px) {
  #hamburger-icon {
    display: none;
  }

  .nav--mobile {
    display: none;
  }

  .nav--desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header {
    &__product-btn,
    &__contact-btn {
      @include vars.btn;
      margin: 0 5px;
    }
  }
}