@use '../../styles/variables' as vars;

.header {
  background-color: vars.$primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;

  &__title {
    color: vars.$dark-brown;
    margin: 0;
  }
}

.nav {
  &--desktop {
    display: none;
  }

  &--mobile {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: vars.$secondary-color;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.5s;
  }
}

.header-nav {
  &__contact-btn ,
  &__product-btn,
  #close-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.75rem;
    color: vars.$light-brown;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    cursor: pointer;
  }
  
  #close-btn {
    margin: 20px 0;
  }
}

// Media Queries
@media screen and (min-width: 768px) {
  #hamburger-icon {
    display: none;
  }

  .nav--desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header {
    &__product-btn,
    &__contact-btn {
      @include vars.btn;
      margin: 0 5px;
    }
  }
}